{{ if not (eq .Params.showMeta false) }}
  <div class="postShorten-meta post-meta">

    {{ $padding := "20px"}}

    <!-- List authors -->
    {{ if isset .Params "position" }}
      <i class="fa fa-user-astronaut" style="display: inline-block; width: {{ $padding }};"></i>  {{ .Params.position }}
      <br/>
    {{ end }}

    {{ if isset .Params "loc" }}
      <i class="fas fa-map-pin" style="display: inline-block; width: {{ $padding }};"></i>  {{ .Params.loc }}
      <br/>
    {{ end }}

    {{ if isset .Params "award" }}
      <span style="color:#00F2FF; font-weight:900">
        <i class="fas fa-award" style="display: inline-block; width: {{ $padding }};"></i>  {{ .Params.award }}
      </span>
      <br/>
    {{ end }}

  </div>
{{ end }}